<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="centered">
    <button class="back-btn"><a href="/">Back</a></button>
    <div class="add-todo">
    <h3>Add todo</h3>
    <form action="">
        <label for="title">Title</label> <br>
        <input type="text" name="title" value="" placeholder="Type todo here">
    </form>

    <form action="">
        <label for="desc">Description</label> <br>
        <input type="text" name="desc" value="" placeholder="Type Description here">
    </form>
    
    <button type="submit">Save</button>
</div>
</div>
</body>
</html>