* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
}
table {
    border-collapse: collapse;
}
.da-table {
    /* padding: 300px; */
    margin: 20px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px 7px;
    font-size: 13px;
}
td {
    font-family: sans-serif;
}
button {
    background: black;
    padding: 4px 25px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 10px;
}
a { 
    text-decoration: none;
    color: currentColor;
}
h3 {
    margin: 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.8rem;
}
.centered {
    display: grid;
    justify-content: center;
}
.add-todo {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 45px;
}
.add-todo h3 {
    font-size: 1.5rem;
    text-align: center;
}
.add-todo button {
    margin: 0;
}
.back-btn {
    width: 25%;
}
input {
    margin-block: 10px;
    padding: 8px;
}
label {
    font-family: sans-serif;
}
.delete {
    font-family: sans-serif;
}
.delete a {
    border: 1px solid black;
    font-size: 0.8em;
    padding: 1px;
    border-radius: 2px;
    padding: 1.5px;
    margin-bottom: 2px;
    background: black;
    color: white;
}
.delete a:first-child {
    margin-bottom: 10px;
}

    